{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Password Manager</title>
    <link rel="stylesheet" href="{% static 'authenticate/login.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="form-box">
        <h1 id="title">Login</h1>
        <form action="/login" method="post">
          {% csrf_token %}
          <div class="input-group">
            <div class="input-field">
              <input type="email" name="Email" placeholder="Email" required />
            </div>
            <div class="input-field">
              <input
                type="password"
                name="Password"
                placeholder="Password"
                required
              />
            </div>
            <p>Lost password? <a href="#">Click Here!</a></p>
            <br />
            <p>New Here? <a href="/signup">Sign up!</a></p>
          </div>
          <div class="btn-field">
            <button type="submit" id="signupBtn">Login</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
